<head>
    <div class="container">
        <div class="header__content">
            <a class="header__logo-wrapper" href="" >
                <img class="header-logo" src="./img/logo-food-store.svg" width="110" height="95" alt="logo header" />
            </a>
        </div>
        <div class="header__navigation">
            <load src="partials/navigation.html" />
        </div>
        <div class="header__links">
            <ul>
                <li>
                    <a class="header-button" href="">
                        <span class="button__icon">
                            <svg width="24" height="24">
                                <use href="./img/sprite.svg#icon-search-loupe"/>
                            </svg>                          
                        </span>
                    </a>                    
                </li>
                <li>
                    <a class="header-button" href="">
                        <span class="button__icon">
                            <svg width="24" height="24">
                                <use href="./img/sprite.svg#icon-user" />
                            </svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="header-button" href="">
                        <span class="button__icon">
                            <svg width="24" height="24">
                                <use href="./img/sprite.svg#icon-shopping-cart" />
                            </svg>
                        </span>
                    </a>
                </li>
            </ul>        
        </div>
    </div>

</head>