<head>
    <div class="container">
        <div class="header__content">
            <a class="header__logo-wrapper" href="" >
                <img class="header-logo" src="./img/logo-food-store.svg" width="110" height="95" alt="logo header" />
            </a>
        </div>
        <div class="header__navigation">
            <load src="partials/navigation.html" />
        </div>
        <div class="header__links">
            <ul>
                <li>
                    <a class="header-button" href="">
                        <img class="header-search-icon" src="./img/header-icon-search-loupe.svg" width="24" height="24" alt="icon search" />
                    </a>
                </li>
                <li>
                    <a class="header-button" href="">
                        <img class="header-user-icon" src="./img/header-icon-user.svg" width="24" height="24" alt="icon user" />
                    </a>
                </li>
                <li>
                    <a class="header-button" href="">
                        <img class="header-shopping-cart-icon" src="../img/header-icon-shopping-cart.svg" width="24" height="24" alt="icon shopping cart" />
                    </a>
                </li>
            </ul>        
        </div>
    </div>

</head>