<nav class="navigation">
    <ul class="navigation-list">
        <li class="navigation-list-item">
            <a href="#occasions">Occasions</a>
            <span>
                <button class="button-icon" type="button">
                    <svg width="8" height="4">
                        <use href="../img/sprite.svg#icon-header-nav-menu" />
                    </svg>        
                </button>
            </span>
        </li>
        <li class="navigation-list-item">
            <a href="#all-categories">All Categories</a>
        </li>
        <li class="navigation-list-item">
            <a href="#gifts-and-bundles">Gifts & Bundles</a>
        </li>
        <li class="navigation-list-item">
            <a href="#our-brands">Our Brands</a>
        </li>
        <li class="navigation-list-item">
            <a href="#about-us">About Us</a>
        </li>
    </ul>
</nav>