<nav class="navigation">
    <ul class="navigation-list">
        <li class="navigation-list-item">
            <a href="#occasions">Occasions</a>
            <button class="button-nav" type="button">                
            </button>
        </li>
        <li class="navigation-list-item">
            <a href="#all-categories">All Categories</a>
        </li>
        <li class="navigation-list-item">
            <a href="#gifts-and-bundles">Gifts & Bundles</a>
        </li>
        <li class="navigation-list-item">
            <a href="#our-brands">Our Brands</a>
        </li>
        <li class="navigation-list-item">
            <a href="#about-us">About Us</a>
        </li>
    </ul>
</nav>