:root {
    --base-black: #1F1F1F;
    --base-orange: #FF8126;
    --base-white: #FFFFFF;


    --primary-text-color: var(--base-black);
    --secondary-text-color: var(--base-orange);
    --primary-font-family: 'Poppins', sans-serif;
    --secondary-font-family: 'Cormorant', sans-serif;
    --body-background-color: var(--base-white);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-weight: 400;
    font-size: inherit;
    line-height: 1.5;
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
    background-color: var(--body-background-color);
    letter-spacing: .02em;
    overflow-x: hidden;

    main {
        flex-grow: 1;
    }
        
    picture {
        display: block;
    }
        
    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
        
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
        
    a {
        text-decoration: none;
        color: currentColor;
    }
        
    button {
        cursor: pointer;
    }
        
    address {
        font-style: normal;
    }
        
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

   
}